<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Cadastrar Curso</title>
    <meta charset="UTF-8">
</head>
<body>
<section layout:fragment="conteudo">
    <div class="container mt-5">
        <h2 class="mb-4">Cadastro de Curso</h2>

        <form th:action="@{/cursos}" th:object="${curso}" method="post" class="needs-validation">
            <div class="mb-3">
                <label for="titulo" class="form-label">Nome do Curso</label>
                <input type="text" id="titulo" class="form-control" th:field="*{titulo}" required>
                <div class="text-danger" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
            </div>

            <div class="mb-3">
                <label for="inauguracao" class="form-label">Data de Inauguração</label>
                <input type="date" id="inauguracao" class="form-control" th:field="*{inauguracao}" required>
                <div class="text-danger" th:if="${#fields.hasErrors('inauguracao')}" th:errors="*{inauguracao}"></div>
            </div>

            <div class="mb-4">
                <label for="faculdades" class="form-label">Faculdades Disponíveis</label>
                <select id="faculdades" class="form-select" th:field="*{faculdadeId}">
                    <option th:each="faculdade : ${todasFaculdades}"
                            th:value="${faculdade.id}"
                            th:text="${faculdade.nome}">
                    </option>
                </select>
                <div class="text-danger" th:if="${#fields.hasErrors('faculdadeId')}" th:errors="*{faculdadeId}"></div>
            </div>

            <div class="mb-4">
                <label for="alunos" class="form-label">Alunos</label>
                <select id="alunos" multiple class="form-select" th:field="*{alunosId}">
                    <option th:each="aluno : ${todosAlunos}"
                            th:value="${aluno.id}"
                            th:text="${aluno.ra} + '| ' + ${aluno.nome}">
                    </option>
                </select>
                <div class="form-text">Segure Ctrl (ou Command) para selecionar mais de um curso.</div>
                <div class="text-danger" th:if="${#fields.hasErrors('alunosId')}" th:errors="*{alunosId}"></div>
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <a th:href="@{/cursos}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</section>
</body>
</html>
