<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Curso</title>
</head>
<body>
<section layout:fragment="conteudo">
    <div class="container">
        <h1>Cursos</h1>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Inauguração</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="curso : ${cursos}">
                <td th:text="${curso.id}" >1</td>
                <td th:text="${curso.titulo}">Nome da Faculdade</td>
                <td th:text="${#temporals.format(curso.inauguracao, 'dd/MM/yyyy')}">01/01/2000</td>
                <td>
                    <a th:href="@{/alunos/verPorCurso/{id}(id=${curso.id})}" class="btn btn-sm btn-warning">Listar Alunos</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
