<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Aluno</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<style>
</style>
<body>
<section layout:fragment="conteudo">
    <div class="container d-flex justify-content-center align-items-start">
        <div>
            <h1>Detalhes do Aluno</h1>

            <div class="card ">
                <div style="text-align: center;">
                    <img th:src="@{${aluno.imagemPerfil != null ? aluno.imagemPerfil : '/images/placeholder.jpg'}}"
                         alt="Foto do Aluno" style="max-width: 200px; border-radius: 8px;">
                </div>
                <h2 th:text="${aluno.nome}">Nome do Aluno</h2>

                <p><strong>Apelido:</strong> <span th:text="${aluno.apelido}">Apelido</span></p>
                <p><strong>Ano de Formado:</strong>
                    <span th:text="${aluno.anoFormado}">2000</span>
                </p>
                <p><strong>Sobre Mim(Profissional):</strong> <span
                        th:text="${aluno.sobreMimProfissional}">sei la...</span></p>
                <p><strong>Sobre Mim(Social):</strong> <span th:text="${aluno.sobreMimSocial}">sei la...</span></p>
                <p><strong>Comentário da Faculdade:</strong>
                    <span th:text="${aluno.comentarioFaculdade}">Comentário da instituição</span>
                </p>
                <p><strong>Comentário Livre:</strong>
                    <span th:text="${aluno.comentarioLivre}">Comentário pessoal...</span>
                </p>
            </div>

            <div class="card" th:if="${aluno.curso != null}">
                <h3>Curso</h3>
                <p><strong>Título:</strong> <span th:text="${aluno.curso.titulo}">Engenharia</span></p>
<!--                <img th:src="@{${aluno.fotos.get(1) != null ? aluno.fotos.get(1) : '/images/placeholder.jpg'}}"-->
<!--                     alt="Foto do Aluno" style="max-width: 200px; border-radius: 8px;">-->
<!--                <img th:src="@{${aluno.fotos.get(2) != null ? aluno.fotos.get(2) : '/images/placeholder.jpg'}}"-->
<!--                     alt="Foto do Aluno" style="max-width: 200px; border-radius: 8px;">-->
                <strong>LinkedIn:</strong>
                <a th:href="${aluno.linkedin}" th:text="${aluno.linkedin}" target="_blank"></a>


            </div>

            <a href="javascript:history.back()" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</section>
</body>
</html>
