<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Cadastrar Aluno</title>
    <meta charset="UTF-8">
</head>
<body>
<section layout:fragment="conteudo">
    <div class="container mt-5">
        <h2 class="mb-4">Cadastro de Aluno</h2>

        <form th:action="@{/alunos}" th:object="${aluno}" method="post" enctype="multipart/form-data" class="needs-validation" >
            <div class="mb-3">
                <label for="imagem" class="form-label">Imagem de Perfil</label>
                <input type="file" id="imagem" name="imagem" class="form-control" accept="image/*">
                <div class="text-danger" th:if="${erroImagem}" th:text="${erroImagem}"></div>
            </div>

            <div class="mb-4">
                <label for="cursos" class="form-label">Cursos Disponíveis</label>
                <select id="cursos" class="form-select" th:field="*{idCurso}">
                    <option th:each="curso : ${cursos}"
                            th:value="${curso.id}"
                            th:text="${curso.titulo} + ' (' + ${curso.faculdadeNome} + ')'">
                    </option>
                </select>
                <div class="text-danger" th:if="${#fields.hasErrors('idCurso')}" th:errors="*{idCurso}"></div>
            </div>

            <div class="mb-3">
                <label for="ra" class="form-label">ra do Aluno</label>
                <input type="text" id="ra" class="form-control" th:field="*{ra}" required>
                <div class="text-danger" th:if="${#fields.hasErrors('ra')}" th:errors="*{ra}"></div>
            </div>

            <div class="mb-3">
                <label for="nome" class="form-label">Nome do Aluno</label>
                <input type="text" id="nome" class="form-control" th:field="*{nome}" required>
                <div class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
            </div>

            <div class="mb-3">
                <label for="anoEntrada" class="form-label">Data de Entrada</label>
                <input type="date" id="anoEntrada" class="form-control" th:field="*{anoEntrada}" required>
                <div class="text-danger" th:if="${#fields.hasErrors('anoEntrada')}" th:errors="*{anoEntrada}"></div>
            </div>

            <div class="mb-3">
                <label for="historico" class="form-label">Histórico do Aluno</label>
                <input type="text" id="historico" class="form-control" th:field="*{historico}" >
                <div class="invalid-feedback">
                    Por favor, informe o historico.
                </div>
            </div>
            <div class="mb-3">
                <label for="comentarioFaculdade" class="form-label">Comentario sobre a Faculdade</label>
                <input type="text" id="comentarioFaculdade" class="form-control" th:field="*{comentarioFaculdade}" >

            </div>

            <div class="mb-3">
                <label for="comentarioLivre" class="form-label">Comentario Livre</label>
                <input type="text" id="comentarioLivre" class="form-control" th:field="*{comentarioLivre}" >

            </div>


            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</section>
</body>
</html>
