<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Ver Alunos</title>
    <link rel="stylesheet" href="/css/alunoVisualization.css" th:href="@{/css/alunoVisualization.css}">
</head>
<body>
<section layout:fragment="conteudo">
    <div class="container">
        <br>
        <h1>Alunos</h1>
        <div class="filtros">
            <form th:action="@{/alunos/filtrar}" method="get" class="filtros-form">

                <label for="curso">Curso:</label>
                <select name="curso" id="curso">
                    <option value="">Todos</option>
                    <option th:each="curso : ${cursos}" th:value="${curso.id}" th:text="${curso.titulo}" th:selected="${curso.id == cursoSelecionado}">Curso</option>

                </select>

                <label for="ano">Ano:</label>
                <input type="number" name="ano" id="ano" placeholder="Ex: 2023" th:value="${anoSelecionado}">

                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" placeholder="Digite o nome" th:value="${nomeSelecionado}">>

                <button type="submit">Filtrar</button>
            </form>
        </div>


        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Foto</th>
                <th>Nome</th>
                <th>Apelido</th>
                <th>Curso</th>
                <th>Ano de Formado</th>
                <th>Comentário Faculdade</th>
                <th>Ações</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="aluno : ${alunos}">
                <td th:text="${aluno.id}">1</td>
                <td>
                    <img th:src="@{${aluno.imagemPerfil != null ? aluno.imagemPerfil : '/images/placeholder.jpg'}}" width="80" height="80" style="object-fit: cover; border-radius: 50%;" />
                </td>
                <td th:text="${aluno.apelido}">1</td>
                <td th:text="${aluno.nome}">Nome do Aluno</td>
                <td th:text="${aluno.tituloCurso}">Curso</td>
                <td th:text="${aluno.anoFormado}">2000</td>
                <td th:text="${aluno.comentarioFaculdade}">Comentario Faculdade</td>
                <td>
                    <a th:href="@{/alunos/{id}/detalhes(id=${aluno.id})}" class="btn btn-sm btn-warning">Detalhes</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
