<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Carometro</title>
</head>
<body>
    <div layout:fragment="conteudo">

        <section class="card-container">
            <div class="card">
                <h2>Visualizar Alunos</h2>
                <p>Visualize os alunos registrados no sistema.</p>
                <a th:href="@{/alunos}" class="card-button">Acessar</a>
            </div>

            <div class="card">
                <h2>Solicitar Inclusão</h2>
                <p>Solicite a inclusão de um aluno no carômetro.</p>
                <a th:href="@{/solicitacao}" class="card-button">Solicitar</a>
            </div>

            <div class="card">
                <h2>Login para Administradores</h2>
                <p>Acesse o painel administrativo.</p>
                <a th:href="@{/login}" class="card-button">Entrar</a>
            </div>
        </section>

    </div>
</body>
</html>